cliff==1.3.3
cliff-tablib==1.0
cmd2==0.6.5.1
oauthlib==0.4.0
prettytable==0.7.2
py==1.4.14
pyparsing==1.5.7
-e git+git@github.com:dasevilla/rdiocli.git@9bcd252293a88392fdfe25531b5c12f0e74e6027#egg=rdio-dev
requests==1.2.0
requests-oauthlib==0.3.1
tablib==0.9.11
tox==1.4.3
wsgiref==0.1.2
